In [301]:
from tensorflow.keras import Sequential
from tensorflow.keras import layers
from tensorflow import keras

from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
from numpy import sort
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score

In [302]:
#DataSet Limpio con columnas no utiles segun analisis droppeadas.

oportunidades = pd.read_csv("Train_TP2_Datos_2020-2C.csv")
oportunidades['Account_Created_Date'] = pd.to_datetime(oportunidades['Account_Created_Date'])
oportunidades['Opportunity_Created_Date'] = pd.to_datetime(oportunidades['Opportunity_Created_Date'])
oportunidades['Quote_Expiry_Date'] = pd.to_datetime(oportunidades['Quote_Expiry_Date'])
oportunidades['Last_Modified_Date'] = pd.to_datetime(oportunidades['Last_Modified_Date'])
oportunidades['Planned_Delivery_Start_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_Start_Date'])
oportunidades['Planned_Delivery_End_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_End_Date'])
oportunidades_japon = (oportunidades.loc[oportunidades['Region'] == 'Japan'])
oportunidades = (oportunidades.loc[oportunidades['Region'] != 'Japan'])
#oportunidades_japon = oportunidades_japon.iloc[:,:3]
oportunidades_japon['Territory'] = oportunidades_japon['Territory'].replace({'None':'Japan'})
oportunidades = pd.concat([oportunidades, oportunidades_japon], axis=0)
oportunidades['Region'] = oportunidades['Region'].replace({'Japan':'APAC', 'Middle East':'EMEA'})
oportunidades[oportunidades.select_dtypes(['object']).columns] = oportunidades.select_dtypes(['object']).apply(lambda x: x.astype('category'))
oportunidades = oportunidades.loc[oportunidades['Territory'] != 'None']
oportunidades['Conversion_Moneda'] = oportunidades['ASP'] / oportunidades['ASP_(converted)']
oportunidades['Total_Amount'] = oportunidades['Total_Amount'] / (1000*oportunidades['Conversion_Moneda'])
oportunidades['Total_Taxable_Amount'] = oportunidades['Total_Taxable_Amount'] / (1000*oportunidades['Conversion_Moneda'])
oportunidades = oportunidades[(oportunidades['Stage'] == 'Closed Won') | (oportunidades['Stage'] == 'Closed Lost')]
oportunidades['Stage'] = oportunidades['Stage'].replace({'Closed Won':1, 'Closed Lost':0})
oportunidades = oportunidades.drop(['Pricing, Delivery_Terms_Quote_Appr'\
    ,'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval'\
        , 'Bureaucratic_Code_0_Approved','Submitted_for_Approval', \
    'Billing_Country','Account_Created_Date', 'Opportunity_Name','Delivery_Year',\
   'Actual_Delivery_Date','Prod_Category_A','Product_Category_B','Delivery_Quarter','Month',\
   'Planned_Delivery_End_Date','Planned_Delivery_Start_Date','ASP_(converted)_Currency','ASP_Currency',\
   'ASP','ASP_(converted)', 'Sales_Contract_No', 'Bureaucratic_Code', 'Opportunity_Created_Date', 'Brand',\
   'Product_Type','Size','Price','Currency','Last_Activity','Quote_Expiry_Date','Last_Modified_Date','Last_Modified_By','ID',\
   'Delivery_Terms','Conversion_Moneda', 'Total_Taxable_Amount_Currency', 'Quote_Type'], axis = 'columns')
oportunidades = oportunidades.dropna()
oportunidades

,Region,Territory,Source,Account_Name,Opportunity_ID,Account_Owner,Opportunity_Owner,Account_Type,Opportunity_Type,Product_Family,Product_Name,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount,Stage
2,Americas,NW America,Source_7,Account_Name_1794,2,Person_Name_64,Person_Name_8,Account_Type_5,Opportunity_Type_1,Product_Family_81,Product_Name_91,0,USD,83.865600,83.865600,1
3,Americas,NW America,Source_11,Account_Name_1201,3,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Product_Family_209,Product_Name_432,14,USD,7421.881500,7421.881500,0
4,Americas,NW America,Source_11,Account_Name_1201,4,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Product_Family_209,Product_Name_432,25,USD,13357.192500,13357.192500,0
5,Americas,NW America,Source_11,Account_Name_1201,5,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Product_Family_209,Product_Name_432,28,USD,14838.277500,14838.277500,0
6,Americas,NW America,Source_11,Account_Name_1201,6,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Product_Family_164,Product_Name_308,7,USD,2659.494600,2659.494600,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16922,APAC,Japan,Source_7,Account_Name_1294,12785,Person_Name_66,Person_Name_66,Account_Type_2,Opportunity_Type_1,Product_Family_243,Product_Name_508,0,USD,13.200000,6422.400600,1
16923,APAC,Japan,Source_3,Account_Name_1074,12786,Person_Name_61,Person_Name_66,Account_Type_0,Opportunity_Type_1,Product_Family_77,Product_Name_100,0,JPY,109.629520,109.629520,1
16924,APAC,Japan,Source_3,Account_Name_1074,12787,Person_Name_61,Person_Name_66,Account_Type_0,Opportunity_Type_1,Product_Family_73,Product_Name_85,0,JPY,107.521260,107.521260,1
16925,APAC,Japan,Source_11,Account_Name_1522,12788,Person_Name_50,Person_Name_30,Account_Type_0,Opportunity_Type_10,Product_Family_77,Product_Name_100,0,JPY,157.665040,157.665040,1
16926,APAC,Japan,Source_11,Account_Name_1522,12789,Person_Name_50,Person_Name_30,Account_Type_0,Opportunity_Type_10,Product_Family_111,Product_Name_153,0,JPY,124.607175,124.607175,1

In [303]:
oportunidades['Source '].value_counts()

None         5962
Source_7     2639
Source_9     1400
Source_11    1333
Source_13     589
Source_3      373
Source_1      105
Source_10      99
Source_2       83
Source_4       35
Source_6       16
Source_0        6
Source_5        1
Source_12       1
Name: Source , dtype: int64

In [304]:
# Encodeos necesarios:
#----------------------------------------------------------------------------------------------------
# Total_Amount_Currency(AUD y JPY)
# Region (APAC)
# Territorio (Mean Stage)
# Dif_Amount(TAm-TTAm)
# TRF > 0
# Product_Family(En base a ranking o mean de Stage)
# Product_Name(En base a ranking o mean de Stage)
# Total Amount y Total Tax hay que dropearlos despues del Dif_Amount
# Account Name (Ranking o Mean Stage)
# Opportunity Owner (Ranking o Mean Stage)
# Account Owner (Ranking o Mean Stage)
# Account Type (Ranking o Mean Stage)
# Opportunity Type (Ranking o Mean Stage)
# Source (Decidir el encodeo)
#---------------------------------------------------------------------------------------------------

In [305]:
# Total_Amount_Currency(AUD y JPY)
# Region (APAC)

oportunidades['Currency_Es_JPY_O_AUD'] = ((oportunidades['Total_Amount_Currency'] == 'AUD') | \
                                  (oportunidades['Total_Amount_Currency'] == 'JPY')).replace({True:1,False:0})

oportunidades['Region_Es_APAC'] = (oportunidades['Region'] == 'APAC').replace({True:1,False:0})
oportunidades = oportunidades.drop(columns=['Region','Total_Amount_Currency'])
#oportunidades = pd.concat([oportunidades,pd.get_dummies(oportunidades['Region'])],axis='columns')

In [306]:
# Territorio (Mean TRF)

gby_terr = oportunidades.groupby('Territory').agg({'Stage':'mean'})
gby_terr['Stage'] = gby_terr['Stage'].replace({np.nan:(gby_terr['Stage'].mean())})
terrs_sorted = gby_terr.sort_values(by='Stage')
terrs_sorted['Stage'] = np.log(terrs_sorted['Stage'])
terrs_sorted = terrs_sorted.reset_index()
terrs_sorted.columns = ['Territory', 'Encoding_Territory']
oportunidades = oportunidades.merge(terrs_sorted, on='Territory')
oportunidades = oportunidades.drop(columns=['Territory'])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [307]:
# Dif_Amount(TAm-TTAm)

amounts = oportunidades.groupby('Opportunity_ID').agg({'Total_Amount':'sum','Total_Taxable_Amount':'mean'})
amounts['Diferencia_Amounts'] = amounts['Total_Amount']-amounts['Total_Taxable_Amount']
amounts = amounts.drop(columns = ['Total_Amount','Total_Taxable_Amount'])
amounts = amounts.reset_index()
oportunidades = oportunidades.merge(amounts, on='Opportunity_ID')
#oportunidades = oportunidades.drop(columns = ['Total_Amount','Total_Taxable_Amount'])

In [308]:
# TRF > 0

trf = oportunidades.groupby('Opportunity_ID').agg({'TRF':'sum'})
trf['TRF_Mayor_A_0'] = trf['TRF']>0
trf = trf.drop(columns=['TRF'])
trf = trf.reset_index()
oportunidades = oportunidades.merge(trf, on='Opportunity_ID')
oportunidades = oportunidades.drop(columns=['TRF'])
oportunidades['TRF_Mayor_A_0'] = oportunidades['TRF_Mayor_A_0'].replace({True:1,False:0})

In [309]:
# Product_Family(Mean Stage)

gby_prod_fam = oportunidades.groupby('Product_Family').agg({'Stage':'mean'})
gby_prod_fam['Stage'] = gby_prod_fam['Stage'].replace({np.nan:(gby_prod_fam['Stage'].mean())})
p_fam_sorted = gby_prod_fam.sort_values(by='Stage')
p_fam_sorted['Stage'] = p_fam_sorted['Stage']
p_fam_sorted = p_fam_sorted.reset_index()
p_fam_sorted.columns = ['Product_Family', 'Encoding_Prod_Family']
prior = oportunidades['Stage'].mean()
n = len(gby_prod_fam)
mu = gby_prod_fam['Stage']
mu_smoothed = (n * mu + 5 * prior) / (n + 5)
mu_smoothed = pd.DataFrame(mu_smoothed)
p_fam_sorted['Encoding_Prod_Family'] = mu_smoothed.reset_index().Stage
oportunidades = oportunidades.merge(p_fam_sorted, on='Product_Family')
oportunidades = oportunidades.drop(columns=['Product_Family'])

In [310]:
# Product_Name(En base a ranking)

gby_prod_name = oportunidades.groupby('Product_Name').agg({'Stage':'mean'})
gby_prod_name['Stage'] = gby_prod_name['Stage'].replace({np.nan:(gby_prod_name['Stage'].mean())})
p_name_sorted = gby_prod_name.sort_values(by='Stage')
p_name_sorted = p_name_sorted.reset_index()
p_name_sorted = p_name_sorted.reset_index()
p_name_sorted = p_name_sorted.drop(columns=['Stage'])
p_name_sorted.columns = ['Encoding_Prod_Name', 'Product_Name']
p_name_sorted['Encoding_Prod_Name'] = 1/np.log(p_name_sorted['Encoding_Prod_Name'])
oportunidades = oportunidades.merge(p_name_sorted, on='Product_Name')
oportunidades = oportunidades.drop(columns=['Product_Name'])

In [311]:
# Account Name (Mean Stage)
gby_acc_name = oportunidades.groupby('Account_Name').agg({'Stage':'mean'})
gby_acc_name['Stage'] = gby_acc_name['Stage'].replace({np.nan:(gby_acc_name['Stage'].mean())})
acc_name_sorted = gby_acc_name.sort_values(by='Stage')
acc_name_sorted = acc_name_sorted.reset_index()
acc_name_sorted.columns = ['Account_Name', 'Encoding_Account_Name']
prior = oportunidades['Stage'].mean()
n = len(gby_acc_name)
mu = gby_acc_name['Stage']
mu_smoothed = (n * mu + 5 * prior) / (n + 5)
mu_smoothed = pd.DataFrame(mu_smoothed)
acc_name_sorted['Encoding_Account_Name'] = mu_smoothed.reset_index().Stage
oportunidades = oportunidades.merge(acc_name_sorted, on='Account_Name')
oportunidades = oportunidades.drop(columns=['Account_Name'])

In [312]:
# Opportunity Owner (Ranking)

gby_op_ow = oportunidades.groupby('Opportunity_Owner').agg({'Stage':'mean'})
gby_op_ow['Stage'] = gby_op_ow['Stage'].replace({np.nan:(gby_op_ow['Stage'].mean())})
op_ow_sorted = gby_op_ow.sort_values(by='Stage')
op_ow_sorted = op_ow_sorted.reset_index()
op_ow_sorted = op_ow_sorted.reset_index()
op_ow_sorted = op_ow_sorted.drop(columns=['Stage'])
op_ow_sorted.columns = ['Encoding_Opportunity_Owner', 'Opportunity_Owner']
oportunidades = oportunidades.merge(op_ow_sorted, on='Opportunity_Owner')
oportunidades = oportunidades.drop(columns=['Opportunity_Owner'])

In [313]:
# Account Owner (Mean Stage)

gby_acc_ow = oportunidades.groupby('Account_Owner').agg({'Stage':'mean'})
gby_acc_ow['Stage'] = gby_acc_ow['Stage'].replace({np.nan:(gby_acc_ow['Stage'].mean())})
acc_ow_sorted = gby_acc_ow.sort_values(by='Stage')
acc_ow_sorted = acc_ow_sorted.reset_index()
acc_ow_sorted.columns = ['Account_Owner', 'Encoding_Account_Owner']
prior = oportunidades['Stage'].mean()
n = len(gby_acc_ow)
mu = gby_acc_ow['Stage']
mu_smoothed = (n * mu + 5 * prior) / (n + 5)
mu_smoothed = pd.DataFrame(mu_smoothed)
acc_ow_sorted['Encoding_Account_Owner'] = mu_smoothed.reset_index().Stage
oportunidades = oportunidades.merge(acc_ow_sorted, on='Account_Owner')
oportunidades = oportunidades.drop(columns=['Account_Owner'])

In [314]:
# Account Type (Ranking)

gby_acc_type = oportunidades.groupby('Account_Type').agg({'Stage':'mean'})
gby_acc_type['Stage'] = gby_acc_type['Stage'].replace({np.nan:(gby_acc_type['Stage'].mean())})
acc_type_sorted = gby_acc_type.sort_values(by='Stage')
acc_type_sorted = acc_type_sorted.reset_index()
acc_type_sorted = acc_type_sorted.reset_index()
acc_type_sorted = acc_type_sorted.drop(columns=['Stage'])
acc_type_sorted.columns = ['Encoding_Account_Type', 'Account_Type']
acc_type_sorted['Encoding_Account_Type'] = (1/acc_type_sorted['Encoding_Account_Type'])**10
oportunidades = oportunidades.merge(acc_type_sorted, on='Account_Type')
oportunidades = oportunidades.drop(columns=['Account_Type'])

In [315]:
# Opportunity Type (Mean Stage)

gby_op_type = oportunidades.groupby('Opportunity_Type').agg({'Stage':'mean'})
gby_op_type['Stage'] = gby_op_type['Stage'].replace({np.nan:(gby_op_type['Stage'].mean())})
op_type_sorted = gby_op_type.sort_values(by='Stage')
op_type_sorted = op_type_sorted.reset_index()
op_type_sorted.columns = ['Opportunity_Type', 'Encoding_Opportunity_Type']
prior = oportunidades['Stage'].mean()
n = len(gby_op_type)
mu = gby_op_type['Stage']
mu_smoothed = (n * mu + 5 * prior) / (n + 5)
mu_smoothed = pd.DataFrame(mu_smoothed)
op_type_sorted['Encoding_Opportunity_Type'] = mu_smoothed.reset_index().Stage
#op_type_sorted['Encoding_Opportunity_Type'] = 1/np.sqrt(op_type_sorted['Encoding_Opportunity_Type'])
oportunidades = oportunidades.merge(op_type_sorted, on='Opportunity_Type')
oportunidades = oportunidades.drop(columns=['Opportunity_Type'])

In [316]:
# Source (En base al mean del Stage)
source_enc = oportunidades.groupby('Source ').agg({'Stage':'mean'})
source_enc = source_enc.reset_index()
source_enc.columns = ['Source ', 'Encoding_Source']
prior = oportunidades['Stage'].mean()
n = len(source_enc)
mu = source_enc['Encoding_Source']
mu_smoothed = (n * mu + 5 * prior) / (n + 5)
mu_smoothed = pd.DataFrame(mu_smoothed)
source_enc['Encoding_Source'] = mu_smoothed.reset_index().Encoding_Source
oportunidades = oportunidades.merge(source_enc, on='Source ', how='left')
oportunidades = oportunidades.drop(columns=['Source '])
oportunidades

,Opportunity_ID,Total_Amount,Total_Taxable_Amount,Stage,Currency_Es_JPY_O_AUD,Region_Es_APAC,Encoding_Territory,Diferencia_Amounts,TRF_Mayor_A_0,Encoding_Prod_Family,Encoding_Prod_Name,Encoding_Account_Name,Encoding_Opportunity_Owner,Encoding_Account_Owner,Encoding_Account_Type,Encoding_Opportunity_Type,Encoding_Source
0,2,83.86560,83.86560,1,0,0,-0.460060,0.0,0,0.659892,0.168420,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
1,1315,183.36780,183.36780,1,0,0,-0.460060,0.0,0,0.990477,0.175220,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
2,1316,257.58810,257.58810,1,0,0,-0.460060,0.0,0,0.990477,0.175220,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
3,2889,32.74425,32.74425,1,0,0,-0.460060,0.0,0,0.990477,0.175220,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
4,7,50.68800,50.68800,1,0,0,-0.460060,0.0,0,0.659892,0.172713,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12637,3517,900.00720,900.00720,0,0,1,-1.299283,0.0,1,0.868171,0.200383,0.001702,14,0.687505,1.024000e-07,0.278043,0.565601
12638,3518,900.00720,900.00720,0,0,1,-1.299283,0.0,1,0.868171,0.200383,0.001702,14,0.687505,1.024000e-07,0.278043,0.565601
12639,2782,570.00000,570.00000,1,0,1,-0.378458,0.0,1,0.990477,0.167757,0.998653,52,0.428852,1.024000e-07,0.278043,0.505109
12640,2783,616.74000,616.74000,1,0,1,-0.378458,0.0,1,0.990477,0.167757,0.998653,52,0.428852,1.024000e-07,0.278043,0.505109
12641,2883,666.18750,666.18750,1,0,1,-0.378458,0.0,1,0.990477,0.167757,0.998653,52,0.428852,1.024000e-07,0.278043,0.505109

In [317]:
oportunidades

,Opportunity_ID,Total_Amount,Total_Taxable_Amount,Stage,Currency_Es_JPY_O_AUD,Region_Es_APAC,Encoding_Territory,Diferencia_Amounts,TRF_Mayor_A_0,Encoding_Prod_Family,Encoding_Prod_Name,Encoding_Account_Name,Encoding_Opportunity_Owner,Encoding_Account_Owner,Encoding_Account_Type,Encoding_Opportunity_Type,Encoding_Source
0,2,83.86560,83.86560,1,0,0,-0.460060,0.0,0,0.659892,0.168420,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
1,1315,183.36780,183.36780,1,0,0,-0.460060,0.0,0,0.990477,0.175220,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
2,1316,257.58810,257.58810,1,0,0,-0.460060,0.0,0,0.990477,0.175220,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
3,2889,32.74425,32.74425,1,0,0,-0.460060,0.0,0,0.990477,0.175220,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
4,7,50.68800,50.68800,1,0,0,-0.460060,0.0,0,0.659892,0.172713,0.250939,39,0.489688,1.693509e-05,0.259690,0.505109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12637,3517,900.00720,900.00720,0,0,1,-1.299283,0.0,1,0.868171,0.200383,0.001702,14,0.687505,1.024000e-07,0.278043,0.565601
12638,3518,900.00720,900.00720,0,0,1,-1.299283,0.0,1,0.868171,0.200383,0.001702,14,0.687505,1.024000e-07,0.278043,0.565601
12639,2782,570.00000,570.00000,1,0,1,-0.378458,0.0,1,0.990477,0.167757,0.998653,52,0.428852,1.024000e-07,0.278043,0.505109
12640,2783,616.74000,616.74000,1,0,1,-0.378458,0.0,1,0.990477,0.167757,0.998653,52,0.428852,1.024000e-07,0.278043,0.505109
12641,2883,666.18750,666.18750,1,0,1,-0.378458,0.0,1,0.990477,0.167757,0.998653,52,0.428852,1.024000e-07,0.278043,0.505109

In [318]:
x_train = oportunidades.groupby('Opportunity_ID').agg({
                                 'Total_Amount':'sum',
                                 'Total_Taxable_Amount':'mean',\
                                 'Encoding_Source': lambda x:x.value_counts().index[0],
                                 'Currency_Es_JPY_O_AUD':'mean', 
                                 'Region_Es_APAC':'mean',\
                                 #'APAC':'mean','EMEA':'mean','Americas':'mean',
                                 'Encoding_Territory':'mean', 
                                 'Diferencia_Amounts':'mean', 
                                 'TRF_Mayor_A_0':'mean',\
                                 'Encoding_Prod_Family':'mean','Encoding_Prod_Name':'mean','Encoding_Account_Name':'mean',\
                                 'Encoding_Opportunity_Owner':'mean','Encoding_Account_Owner':'mean','Encoding_Account_Type':'mean',\
                                  'Encoding_Opportunity_Type':'mean'})

y_train = oportunidades.groupby('Opportunity_ID').agg({'Stage':'max'})
division_x_train, division_x_test, division_y_train, division_y_test = train_test_split(x_train, y_train, test_size = 0.3,\
                                                                                       random_state = 123)
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 2 to 12803
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Total_Amount                9029 non-null   float64
 1   Total_Taxable_Amount        9029 non-null   float64
 2   Encoding_Source             9029 non-null   float64
 3   Currency_Es_JPY_O_AUD       9029 non-null   int64
 4   Region_Es_APAC              9029 non-null   int64
 5   Encoding_Territory          9029 non-null   float64
 6   Diferencia_Amounts          9028 non-null   float64
 7   TRF_Mayor_A_0               9029 non-null   int64
 8   Encoding_Prod_Family        9029 non-null   float64
 9   Encoding_Prod_Name          9029 non-null   float64
 10  Encoding_Account_Name       9029 non-null   float64
 11  Encoding_Opportunity_Owner  9029 non-null   int64
 12  Encoding_Account_Owner      9029 non-null   float64
 13  Encoding_Account_Type       9029 non-null   float64
 14  Encoding_Opportunity_Type   9029 non-null   float64
dtypes: float64(11), int64(4)
memory usage: 1.1 MB

In [319]:
#Entrenamos al Sequential y lo creamos

model = Sequential()
#model.add(layers.Conv2D(32, kernel_size=(3), activation='relu', input_shape=(x_train.shape[1],)))
#model.add(Conv2D(64, (3), activation='relu'))
#model.add(MaxPooling1D(pool_size=(2)))
#model.add(layers.Dropout(0.25))
#model.add(Flatten())
model.add(layers.Dense(4, activation="relu",input_shape=(x_train.shape[1],)))
model.add(layers.Dropout(0.1))
model.add(layers.Dense(2, activation='relu'))
model.add(layers.Dropout(0.1))
model.add(layers.Dense(1, activation='relu'))
model.add(layers.Dropout(0.1))
model.add(layers.Dense(1, activation='sigmoid'))

optim=keras.optimizers.Adam(learning_rate=0.016)

model.compile(optimizer=optim,loss='binary_crossentropy', metrics=['accuracy'])

model.fit(x_train,y_train, epochs = 4)

Epoch 1/4
283/283 [==============================] - 1s 731us/step - loss: nan - accuracy: 0.4689
Epoch 2/4
283/283 [==============================] - 0s 706us/step - loss: nan - accuracy: 0.4704
Epoch 3/4
283/283 [==============================] - 0s 731us/step - loss: nan - accuracy: 0.4533
Epoch 4/4
283/283 [==============================] - 0s 720us/step - loss: nan - accuracy: 0.4725

In [320]:
#accuracy_score(division_y_test, xg_reg.predict(division_x_test).round())

In [321]:
#log_loss(division_y_test, xg_reg.predict(division_x_test))

In [322]:
#Armamos el set de test
oportunidades = pd.read_csv("Test_TP2_Datos_2020-2C.csv")
oportunidades['Account_Created_Date'] = pd.to_datetime(oportunidades['Account_Created_Date'])
oportunidades['Opportunity_Created_Date'] = pd.to_datetime(oportunidades['Opportunity_Created_Date'])
oportunidades['Quote_Expiry_Date'] = pd.to_datetime(oportunidades['Quote_Expiry_Date'])
oportunidades['Last_Modified_Date'] = pd.to_datetime(oportunidades['Last_Modified_Date'])
oportunidades['Planned_Delivery_Start_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_Start_Date'])
oportunidades['Planned_Delivery_End_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_End_Date'])
oportunidades_japon = (oportunidades.loc[oportunidades['Region'] == 'Japan'])
oportunidades = (oportunidades.loc[oportunidades['Region'] != 'Japan'])
#oportunidades_japon = oportunidades_japon.iloc[:,:3]
oportunidades_japon['Territory'] = oportunidades_japon['Territory'].replace({'None':'Japan'})
oportunidades = pd.concat([oportunidades, oportunidades_japon], axis=0)
oportunidades['Region'] = oportunidades['Region'].replace({'Japan':'APAC', 'Middle East':'EMEA'})
oportunidades[oportunidades.select_dtypes(['object']).columns] = oportunidades.select_dtypes(['object']).apply(lambda x: x.astype('category'))
#oportunidades = oportunidades.loc[oportunidades['Territory'] != 'None']
oportunidades['Conversion_Moneda'] = oportunidades['ASP'] / oportunidades['ASP_(converted)']
oportunidades['Total_Amount'] = oportunidades['Total_Amount'] / (1000*oportunidades['Conversion_Moneda'])
oportunidades['Total_Taxable_Amount'] = oportunidades['Total_Taxable_Amount'] / (1000*oportunidades['Conversion_Moneda'])
#oportunidades = oportunidades[(oportunidades['Stage'] == 'Closed Won') | (oportunidades['Stage'] == 'Closed Lost')]
#oportunidades['Stage'] = oportunidades['Stage'].replace({'Closed Won':1, 'Closed Lost':0})
oportunidades = oportunidades.drop(['Pricing, Delivery_Terms_Quote_Appr'\
    ,'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval'\
        , 'Bureaucratic_Code_0_Approved','Submitted_for_Approval', \
    'Billing_Country','Account_Created_Date', 'Opportunity_Name','Delivery_Year',\
   'Actual_Delivery_Date','Prod_Category_A','Product_Category_B','Delivery_Quarter','Month',\
   'Planned_Delivery_End_Date','Planned_Delivery_Start_Date','ASP_(converted)_Currency','ASP_Currency',\
   'ASP','ASP_(converted)', 'Sales_Contract_No', 'Bureaucratic_Code', 'Opportunity_Created_Date', 'Brand',\
   'Product_Type','Size','Price','Currency','Last_Activity','Quote_Expiry_Date','Last_Modified_Date','Last_Modified_By','ID',\
   'Delivery_Terms','Conversion_Moneda', 'Total_Taxable_Amount_Currency', 'Quote_Type'], axis = 'columns')

In [323]:
# Total_Amount_Currency(AUD y JPY)
# Region (APAC)

oportunidades['Currency_Es_JPY_O_AUD'] = ((oportunidades['Total_Amount_Currency'] == 'AUD') | \
                                  (oportunidades['Total_Amount_Currency'] == 'JPY')).replace({True:1,False:0})
oportunidades['Region_Es_APAC'] = (oportunidades['Region'] == 'APAC').replace({True:1,False:0})
oportunidades = oportunidades.drop(columns=['Region','Total_Amount_Currency'])
#oportunidades = pd.concat([oportunidades,pd.get_dummies(oportunidades['Region'])],axis='columns')

# Territorio (Mean Stage)

oportunidades = oportunidades.merge(terrs_sorted, on='Territory', how='left')
oportunidades = oportunidades.drop(columns=['Territory'])
oportunidades['Encoding_Territory'] = oportunidades['Encoding_Territory'].replace\
                                    ({np.nan:oportunidades['Encoding_Territory'].mean()})

# Dif_Amount(TAm-TTAm)

amounts = oportunidades.groupby('Opportunity_ID').agg({'Total_Amount':'sum','Total_Taxable_Amount':'mean'})
amounts['Diferencia_Amounts'] = amounts['Total_Amount']-amounts['Total_Taxable_Amount']
amounts = amounts.drop(columns = ['Total_Amount','Total_Taxable_Amount'])
amounts = amounts.reset_index()
oportunidades = oportunidades.merge(amounts, on='Opportunity_ID', how='left')
#oportunidades = oportunidades.drop(columns = ['Total_Amount','Total_Taxable_Amount'])

# TRF > 0

trf = oportunidades.groupby('Opportunity_ID').agg({'TRF':'sum'})
trf['TRF_Mayor_A_0'] = trf['TRF']>0
trf = trf.drop(columns=['TRF'])
trf = trf.reset_index()
oportunidades = oportunidades.merge(trf, on='Opportunity_ID', how='left')
oportunidades = oportunidades.drop(columns=['TRF'])
oportunidades['TRF_Mayor_A_0'] = oportunidades['TRF_Mayor_A_0'].replace({True:1,False:0})

# Product_Family (mean Stage)

oportunidades = oportunidades.merge(p_fam_sorted, on='Product_Family', how='left')
oportunidades = oportunidades.drop(columns=['Product_Family'])
oportunidades['Encoding_Prod_Family'] = oportunidades['Encoding_Prod_Family'].replace\
                                    ({np.nan:oportunidades['Encoding_Prod_Family'].mean()})

# Product_Name (En base a ranking)

oportunidades = oportunidades.merge(p_name_sorted, on='Product_Name', how='left')
oportunidades = oportunidades.drop(columns=['Product_Name'])
oportunidades['Encoding_Prod_Name'] = oportunidades['Encoding_Prod_Name'].replace\
                                    ({np.nan:oportunidades['Encoding_Prod_Name'].mean()})

# Account_Name (mean stage)

oportunidades = oportunidades.merge(acc_name_sorted, on='Account_Name', how='left')
oportunidades = oportunidades.drop(columns=['Account_Name'])
oportunidades['Encoding_Account_Name'] = oportunidades['Encoding_Account_Name'].replace\
                                    ({np.nan:oportunidades['Encoding_Account_Name'].mean()})

# Opportunity_Owner (ranking)

oportunidades = oportunidades.merge(op_ow_sorted, on='Opportunity_Owner', how='left')
oportunidades = oportunidades.drop(columns=['Opportunity_Owner'])
oportunidades['Encoding_Opportunity_Owner'] = oportunidades['Encoding_Opportunity_Owner'].replace\
                                    ({np.nan:oportunidades['Encoding_Opportunity_Owner'].mean()})

# Account_Owner (mean stage)

oportunidades = oportunidades.merge(acc_ow_sorted, on='Account_Owner', how='left')
oportunidades = oportunidades.drop(columns=['Account_Owner'])
oportunidades['Encoding_Account_Owner'] = oportunidades['Encoding_Account_Owner'].replace\
                                    ({np.nan:oportunidades['Encoding_Account_Owner'].mean()})

# Account_Type (ranking)

oportunidades = oportunidades.merge(acc_type_sorted, on='Account_Type', how='left')
oportunidades = oportunidades.drop(columns=['Account_Type'])
oportunidades['Encoding_Account_Type'] = oportunidades['Encoding_Account_Type'].replace\
                                    ({np.nan:oportunidades['Encoding_Account_Type'].mean()})

# Opportunity_Type (mean Stage)

oportunidades = oportunidades.merge(op_type_sorted, on='Opportunity_Type', how='left')
oportunidades = oportunidades.drop(columns=['Opportunity_Type'])
oportunidades['Encoding_Opportunity_Type'] = oportunidades['Encoding_Opportunity_Type'].replace\
                                    ({np.nan:oportunidades['Encoding_Opportunity_Type'].mean()})

# Source (En base a sum de Total_Amount)

oportunidades = oportunidades.merge(source_enc, on='Source ', how='left')
oportunidades = oportunidades.drop(columns=['Source '])
#oportunidades = pd.concat([oportunidades,pd.get_dummies(oportunidades['Source '])], axis='columns')

In [324]:
oportunidades

,Opportunity_ID,Total_Amount,Total_Taxable_Amount,Currency_Es_JPY_O_AUD,Region_Es_APAC,Encoding_Territory,Diferencia_Amounts,TRF_Mayor_A_0,Encoding_Prod_Family,Encoding_Prod_Name,Encoding_Account_Name,Encoding_Opportunity_Owner,Encoding_Account_Owner,Encoding_Account_Type,Encoding_Opportunity_Type,Encoding_Source
0,10689,183.510912,415.590457,0,0,-0.498011,0.000543,0,0.696378,0.189305,0.998653,43.0,0.798493,1.653817e-08,0.667611,0.505109
1,10689,88.931115,415.585335,0,0,-0.498011,0.000543,0,0.664328,0.177923,0.998653,43.0,0.798493,1.653817e-08,0.667611,0.505109
2,10689,143.145210,415.584291,0,0,-0.498011,0.000543,0,0.659892,0.170960,0.998653,43.0,0.798493,1.653817e-08,0.667611,0.505109
3,10690,275.266368,857.134746,0,0,-0.498011,0.001257,1,0.696378,0.189305,0.998653,43.0,0.798493,1.653817e-08,0.667611,0.505109
4,10690,177.862230,857.124181,0,0,-0.498011,0.001257,1,0.664328,0.177923,0.998653,43.0,0.798493,1.653817e-08,0.667611,0.505109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2546,12341,NaN,NaN,1,1,-0.378458,-0.269715,0,0.659892,0.184787,0.001702,41.0,0.633787,1.024000e-07,0.259690,0.565601
2547,12341,0.388390,0.658105,1,1,-0.378458,-0.269715,0,0.012029,0.172531,0.001702,41.0,0.633787,1.024000e-07,0.259690,0.565601
2548,12357,4079.928600,4079.928600,0,1,-0.378458,0.000000,1,0.659892,0.185877,0.998653,45.0,0.428852,1.024000e-07,0.259690,0.516288
2549,12361,45.570816,45.570816,1,1,-0.378458,0.000000,0,0.990477,0.175017,0.001702,40.0,0.633787,1.693509e-05,0.259690,0.565601
2550,12362,182.345013,182.345013,1,1,-0.378458,0.000000,1,0.696378,0.189305,0.272613,40.0,0.182035,1.653817e-08,0.259690,0.565601

In [325]:
x_test = oportunidades.groupby('Opportunity_ID').agg({
                                 'Total_Amount':'sum',
                                 'Total_Taxable_Amount':'mean',\
                                 'Encoding_Source': lambda x:x.value_counts().index[0],
                                 'Currency_Es_JPY_O_AUD':'mean', 
                                 'Region_Es_APAC':'mean',\
                                 #'APAC':'mean','EMEA':'mean','Americas':'mean',
                                 'Encoding_Territory':'mean', 
                                 'Diferencia_Amounts':'mean', 
                                 'TRF_Mayor_A_0':'mean',\
                                 'Encoding_Prod_Family':'mean','Encoding_Prod_Name':'mean','Encoding_Account_Name':'mean',\
                                 'Encoding_Opportunity_Owner':'mean','Encoding_Account_Owner':'mean','Encoding_Account_Type':'mean',\
                                 'Encoding_Opportunity_Type':'mean'})

x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1567 entries, 10689 to 12368
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Total_Amount                1567 non-null   float64
 1   Total_Taxable_Amount        1557 non-null   float64
 2   Encoding_Source             1567 non-null   float64
 3   Currency_Es_JPY_O_AUD       1567 non-null   int64
 4   Region_Es_APAC              1567 non-null   int64
 5   Encoding_Territory          1567 non-null   float64
 6   Diferencia_Amounts          1557 non-null   float64
 7   TRF_Mayor_A_0               1567 non-null   int64
 8   Encoding_Prod_Family        1567 non-null   float64
 9   Encoding_Prod_Name          1567 non-null   float64
 10  Encoding_Account_Name       1567 non-null   float64
 11  Encoding_Opportunity_Owner  1567 non-null   float64
 12  Encoding_Account_Owner      1567 non-null   float64
 13  Encoding_Account_Type       1567 non-null   float64
 14  Encoding_Opportunity_Type   1567 non-null   float64
dtypes: float64(12), int64(3)
memory usage: 195.9 KB

In [326]:
predictions = model.predict(x_test)
x_test = x_test.reset_index()
serie1 = pd.DataFrame(x_test['Opportunity_ID'])
serie2 = pd.DataFrame(predictions)
df = pd.DataFrame(serie1)
df['Target'] = serie2
df.columns = ['Opportunity_ID', 'Target']
df

      Opportunity_ID  Target
0              10689     NaN
1              10690     NaN
2              10691     NaN
3              10692     NaN
4              10693     NaN
...              ...     ...
1562           12364     NaN
1563           12365     NaN
1564           12366     NaN
1565           12367     NaN
1566           12368     NaN

[1567 rows x 2 columns]

In [327]:
df.to_csv("Predicciones.csv", index=False)

In [328]:
#plt.rcParams['figure.figsize'] = [12, 7]
#xgb.plot_importance(xg_reg)